//#region Color

$background: #282c34;
$primary: #3a404b;
$accents: #d5d5d7;

$danger: #9c1215;
$good: #135317;
$warning: #d58c08;

$title: #00b4d8;

//#endRegion

//#region Box Shodow

$shadow: 0px 20px 20px 0px #00000040;

//#endRegion
