@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

//#region Font

$title: 32px;
$sub-title: 24px;
$text: 20px;
$sub-text: 16px;
//#endregion
